.location-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid grey; */
    border-radius: 30px;
    padding: 10px;
    background-color: #ffffff;
  }

  .location {
    display: flex;
    font-size: 9px;
    margin-top: -10px;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: center;
    letter-spacing: 3px;
    height: 340px;
    border: 1px solid #B9FFF8;
  }

  .location-tarjeta {
    background-color: #B9FFF8;
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 18px;
    border-radius: 10px;
    color: grey;
    font-weight: bolder;
    border: none;
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }
  
  .color {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #ffffff;
  }
  
  .url-image{
    width: auto;
    height: 180px;
  }

  h3 {
    margin-bottom: 10px;
  }
  
  .del:hover {
    cursor: pointer;
    height: 30px;
  }
  